@font-face { font-family: pdf5f1; src: url("font-01.ttf") format("truetype"); font-display: block; }
@font-face { font-family: pdf5f2; src: url("font-02.ttf") format("truetype"); font-display: block; }
@font-face { font-family: pdf5f3; src: url("font-03.ttf") format("truetype"); font-display: block; }
@font-face { font-family: pdf5f4; src: url("font-04.ttf") format("truetype"); font-display: block; }
@font-face { font-family: pdf5f5; src: url("font-05.ttf") format("truetype"); font-display: block; }
@font-face { font-family: pdf5f6; src: url("font-06.ttf") format("truetype"); font-display: block; }
