@font-face { font-family: pdf6f1; src: url("font-01.ttf") format("truetype"); font-display: block; }
@font-face { font-family: pdf6f2; src: url("font-02.ttf") format("truetype"); font-display: block; }
@font-face { font-family: pdf6f3; src: url("font-03.ttf") format("truetype"); font-display: block; }
@font-face { font-family: pdf6f4; src: url("font-04.ttf") format("truetype"); font-display: block; }
